header {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: repeat(12, 1fr);
  background-color: #6699ff;
}
#logo {
  grid-row: 1 / 2;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: aliceblue;
  font-size: 3em;
}
#buttons {
  grid-area: buttons;
  grid-row: 1 / 2;
  grid-column: 6 / span 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button {
  width: 40%;
  height: 65%;
  border-top-left-radius: 100%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 5%;
  background-color: #db7037;
  border: none;
  font-family: "Dancing Script", cursive;
  color: aliceblue;
  font-size: 1.5em;
  box-shadow: 0px 0px 5px 3px;
  outline: none;
  transition-property: opacity;
  transition-duration: 50ms;
}

button:hover {
  opacity: 0.5;
}
#search {
  grid-area: search;
  grid-row: 1 / 2;
  grid-column: 10 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: aliceblue;
  font-size: 1.5em;
}
#main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center;
  margin-top: 50px;
}
table {
  grid-column: 4 / 12;
  border-spacing: 0px;
}
th {
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: #db7037;
  font-size: 1.2em;
  vertical-align: middle;
}
td {
  height: 30px;
  background-color: #73a3f0;
}
.width_10 {
  width: 10%;
}
.width_30 {
  width: 30%;
}
#form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  background-color: #db7037;
  position: relative;
  top: -50px;
  z-index: 2;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1000ms;
}
.formActive {
  opacity: 1 !important;
}
form {
  grid-column: 4 / 10;
}
form:first-child {
  padding-top: 5%;
}
form:last-child {
  padding-bottom: 5%;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 1.2em;
}
textarea {
  width: 100%;
  height: 100px;
  margin-top: 3%;
}
hr {
  margin-top: 3%;
}
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: grey;
  opacity: 0.9;
  z-index: 1;
}
.hidden {
  display: none !important;
}
