header {
    background-color: #d3d3d3;
}
hr {
    border-width: medium;
}
.sideBar {
    float: left;
    width: 22%;
}
.sideBar p:nth-child(odd) {
background-color: #d3d3d3;
margin-top: 0px;
}
.sideBar p:nth-child(even){
    background-color: aliceblue;
    margin-top: -16px;
}
.sideBar p:nth-child(3),.sideBar p:nth-child(5),
.sideBar p:nth-child(7),.sideBar p:nth-child(9),
.sideBar p:nth-child(11),.sideBar p:nth-child(13) {
    margin-top: -16px;
}
textarea {
    margin-top: -16px;
}
.sideBar p:nth-child(15) {
    background-color: white;
    margin-top: 16px;
}

table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr {
    border: inherit;
}
td {
    border: inherit;
}